<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
 <!-- Logo -->
    <img src="/static/image/logo.png" alt="Logo">

    <!-- 闹钟指令文本 -->
    <div id="alarmInstructions">
        <ul>
            <li>You're required to set an alarm, you can say:</li>
            <li class="important">"Set alarm"</li>
            <li class="important">"Stop alarm"</li>
            <li class="important">"Snooze alarm"</li>
            <li>......</li>
        </ul>
    </div>

    <button id="surveyButton" onclick="goToSurveyPage_alarm()">Take Survey</button>
    <button onclick="processAlarm()">Process Alarm Task</button>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
