<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
 <!-- Logo -->
    <img src="/static/image/logo.png" alt="Logo">

    <!--指令文本 -->
    <div id="alarmInstructions">
        <ul>
            <li>You're required to control devices at home, you can say:</li>
            <li class="important">"Turn off the lights"</li>
            <li class="important">"Set temperature"</li>
            <li class="important">"Lock the door"</li>
            <li>......</li>
        </ul>
    </div>

   <!-- face detection    style="display:none;" -->
    <video id="video" width="120" height="90" autoplay muted ></video>

    <button id="surveyButton_devices" class="surveyButton" onclick="goToSurveyPage_devices()">Go To Survey</button>
    <button id="processDevicesButton" class="processButton" onclick="processDevices()">Process Control Devices Task</button>


    <script src="/static/js/script.js"></script>
    <script src="/static/js/face-api.min.js"></script>
</body>
</html>
