<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Feedback</title>
</head>
<body>
    <h1>Record Feedback</h1>
    <p id="feedbackMessage" >How do you like Lumi?</p>
    <button id="startFeedbackButton" class="startFeedbackButton" onclick="countdown()">Start Feedback</button>
    <p id="countdown">You can record your feedback in <span id="countdownValue">30</span> seconds</p> <!-- 倒计时显示器 -->

    <script src="/static/js/script.js"></script>
</body>
</html>
