<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumi</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <!-- Logo -->
    <img src="/static/image/logo.png" alt="Logo">

    <!-- face detection    style="display:none;" -->
    <video id="video" width="120" height="90" autoplay muted style="display:none;"></video>

    <!-- buttons-->
    <button id="startButton" class="startButton" onclick="startRecording()">Click and read out loud the text below</button>
    <button id="recognizingButton"  class="startButton"  style="display: none;">Recognizing...</button>

    <a href="news.html">
        <button  id="nextButton_news" class="nextTaskButton">Next Task</button>
    </a>

    <script src="/static/js/script.js"></script>
    <script src="/static/js/face-api.min.js"></script>
</body>
</html>
