<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumi</title>
    <link rel="stylesheet" href="/static/css/style.css">

</head>
<body>
    <!-- Logo -->
    <img src="/static/image/logo.png" alt="Logo">

    <!-- 识别和音乐指令文本 -->
    <div id="musicInstructions" style="display: none;">
      <ul>
        <li>You're required to play music, you can say:</li>
        <li class = important>"Play music" </li>
        <li class = important>"Pause music" </li>
        <li class = important>"Next song"</li>
        <li class = important>"Stop playing"</li>
        <li>......</Li>
      </ul>
    </div>





    <button id="startButton" onclick="startRecording()">Start talking with Lumi</button>

    <button id="recognizingButton" style="display: none;">Recognizing...</button>

    <button id="surveyButton" onclick="goToSurveyPage()">Take Survey</button>

    <script src="/static/js/script.js"></script>
</body>
</html>
