<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
 <!-- Logo -->
    <img src="/static/image/logo.png" alt="Logo">

    <!--指令文本 -->
    <div id="musicInstructions">
      <ul>
        <li>You're required to listen to sports news,  please click the [Start Task] button and you can say:</li>
        <li class = important>"Update football news" </li>
        <li class = important>"Play tennis news"</li>
        <li class = important>"Give me marathon news"</li>
        <li class = important>"Tell me some golf news"</li>
        <li>or other words you prefer</Li>
      </ul>
    </div>
   <!-- face detection    style="display:none;" -->
    <video id="video" width="120" height="90" autoplay muted style="display:none;" ></video>

    <button id="surveyButton" class="surveyButton" onclick="goToSurveyPage()">Go To Survey</button>
    <button id="processNewsButton" class="processButton" onclick="processNews()">Start Task</button>

    <script src="/static/js/script.js"></script>
    <script src="/static/js/face-api.min.js"></script>
</body>
</html>
