<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Survey</title>
</head>
<body>
    <h1>Survey</h1>
    <p>Thank you for participating in our survey!（2/3）</p>
    <p>Please click the button below to complete the survey:</p>
    <a href="https://htionline.tue.nl/limesurvey/index.php/627987?lang=en" target="_blank">
        <button class="surveyButton">Take Survey</button>
    </a>
    <button id="nextButton_weather" class="nextTaskButton"><a href="weather.html">Next Task</a></button>
    <video id="video" width="120" height="90" autoplay muted style="display:none;" ></video>
    <script src="/static/js/script.js"></script>
    <script src="/static/js/face-api.min.js"></script>
</body>
</html>




