<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lumi</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
 <!-- Logo -->
    <img src="/static/image/logo.png" alt="Logo">

    <!-- 闹钟指令文本 -->
    <div id="weatherInstructions">
        <ul>
            <li>You're required to check weather,  please click the [Start Task] button and you can say:</li>
            <li class="important">"Check today's weather "</li>
            <li class="important">"The weather for next week"</li>
            <li class="important">"Weather for next month"</li>
            <li class="important">"The weather for Kingsday"</li>
            <li>or other words you prefer</li>
        </ul>
    </div>

   <!-- face detection    style="display:none;" -->
    <video id="video" width="120" height="90" autoplay muted  style="display:none;"></video>

    <button id="surveyButton_weather" class="surveyButton"  onclick="goToSurveyPage_weather()">Go To Survey</button>
    <button id="processWeatherButton" class="processButton" onclick="processWeather()">Start Task</button>

    <script src="/static/js/face-api.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
